<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxHn73GlQeucsnPQr2e0AN5E6gcrtO5dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>766682212479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodPlanner</string>
	<key>PROJECT_ID</key>
	<string>food-planner-depi</string>
	<key>STORAGE_BUCKET</key>
	<string>food-planner-depi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766682212479:ios:1e6cec673eabc1e15c774a</string>
</dict>
</plist>